

.hero_slider{
    width: 100vw;
    height: 90vh;
    position: relative;
    .hero_slider_left{
        /*width: 65vw;*/
        margin: 0 auto;
        position: absolute;
        top: 25%;
        left: 50px;
    }
    .hero_slider_right{
        position: absolute;
        right: 50px;
        bottom: 0;
        width: 50%;
        height: 100%;
        background-size: 40% 80%, 80% 100%;
        background-position: 70%, right;
        background-repeat: no-repeat, no-repeat;
        .hero_slider_img{
            /*margin-left: auto;*/
            width: 65%;
            height: 40vw;
            margin-top: auto;

        }
    }
    .hero_slider_right1{background-image: url("/hero_slider_img1_bg.avif"), url("/hero_slider_img2.1_bg.avif")}
    .hero_slider_right2{background-image: url("/hero_slider_img5_bg.avif"), url("/hero_slider_img2.1_bg.avif")}
    .hero_slider_right3{background-image: url("/hero_slider_img1_bg.avif"), url("/hero_slider_img2.1_bg.avif")}
    .hero_slider_right4{background-image: url("/hero_slider_img4_bg.avif"), url("/hero_slider_img2.1_bg.avif")}
    .hero_slider_right5{background-image: url("/hero_slider_img5_bg.avif"), url("/hero_slider_img2.1_bg.avif")}
}

@media screen and (width <= 1280px) {
    .hero_slider{
        .hero_slider_left{
            top: 20%;
            width: 50%;
        }
        .hero_slider_right{
            width: 50%;
            background-size: 50% 80%, 100% 100%;
            background-position: 70%, right;
            .hero_slider_img{
                height:80%;
            }
        }
    }
}
@media screen and (width <= 1150px) {
    .hero_slider{
        .hero_slider_left{
        }
        .hero_slider_right{
            background-size: 70% 80%, 100% 100%;
            background-position: 70%, right;
            .hero_slider_img{
                height:70%;
                width: 80%;
            }
        }
    }
}
@media screen and (width <= 1030px) {
    .hero_slider{
        .hero_slider_left{
            .hero_slider_heading{
                font-size: 38px;
            }
        }
        .hero_slider_right{
            .hero_slider_img{
                height:70%;
                width: 80%;
            }
        }
    }
}
@media screen and (width <= 980px) {
    .hero_slider{
        .hero_slider_left{
            width: 40%;
            .hero_slider_heading{
            }
        }
        .hero_slider_right{
            .hero_slider_img{
                width: 90%;
                height: 60%;
            }
        }
    }
}
@media screen and (width <= 880px) {
    .hero_slider{
        .hero_slider_left{
            top: 0;
            height: 50vh;
            .hero_slider_heading{
            }
        }
        .hero_slider_right{
            bottom: 0;
            height: 90vh;
            .hero_slider_img{
            }
        }
    }
}
@media screen and (width <= 780px) {
    .hero_slider{
        .hero_slider_left{
            height: 30vh;
            width: 90%;
            left: 10px;
            .hero_slider_heading{
            }
            .know_more_btn{
            }
        }
        .hero_slider_right{
            width: 90%;
            height: 70vh;
            right: 10px;
            background-size: 40% 70%, 100% 100%;
            background-position: 20% 40%, right;
            .hero_slider_img{
                width: 60%;
                height: 80%;
                margin-left: auto;
            }
        }
    }
}
@media screen and (width <= 580px) {
    .hero_slider{
        .hero_slider_left{
            height: 40vh;
            width: 90%;
            left: 10px;
            .hero_slider_heading{
            }
            .know_more_btn{
            }
        }
        .hero_slider_right{
            width: 90%;
            height: 60vh;
            right: 10px;
            background-size: 50% 70%, 100% 100%;
            background-position: 50% 50%, right;
            .hero_slider_img{
                width: 80%;
                height: 80%;
                margin-left: auto;
            }
        }
    }
}
@media screen and (width <= 410px) {
    .hero_slider{
        .hero_slider_left{
            .hero_slider_heading{
            }
            .know_more_btn{
                display: none;
            }
        }
        .hero_slider_right{
            .hero_slider_img{
            }
        }
    }
}
@media screen and (width <= 380px) {
    .hero_slider{
        .hero_slider_left{
            .hero_slider_heading{
                font-size: 28px;
            }
            .know_more_btn{
            }
        }
        .hero_slider_right{
            .hero_slider_img{
            }
        }
    }
}
/*@media screen and (width <= 1240px) {
    .hero_slider{
        .hero_slider_left{
        }
        .hero_slider_right{
            width: 65%;
            height: 72vh;
        }
    }
}
@media screen and (width <= 1080px) {
    .hero_slider{
        .hero_slider_left{
            width: 50vw;
        }
        .hero_slider_right{
            height: 62vh;
        }
    }
}
@media screen and (width <= 890px) {
    .hero_slider{
        .hero_slider_left{
            width: 60vw;
        }
        .hero_slider_right{
            height: 58vh;
        }
    }
}
@media screen and (width <= 760px) {
    .hero_slider{
        position: relative;
        height: 100vh;
        .hero_slider_left{
            width: 100%;
            position: absolute;
            top: 0px;
            left: 10px;
            .know_more_btn{
                display: none;
            }
        }
        .hero_slider_right{
            position: absolute;
            width: 100%;
            height: 70%;
            text-align: right;
            right: 10px;
            bottom: 0;
            background-size: 40% 80%, cover;
            background-position: 70%, right;
            background-repeat: no-repeat, no-repeat;
            .hero_slider_img{
                margin-left: auto;
                height: 80%;
            }
        }
    }
}
@media screen and (width <= 440px) {
    .hero_slider{
        .hero_slider_left{
            .hero_slider_heading{
                font-size: 32px;
            }
            .know_more_btn{
            }
        }
        .hero_slider_right{
            background-size: 40% 80%, contain;
            background-position: 70%, right;
            background-repeat: no-repeat, no-repeat;
            .hero_slider_img{
                height: 70%;
            }
        }
    }
}*/